.container {
    display:grid;
    grid-template-columns:1fr;
    grid-gap:20px;
    margin-top:20px;
}
.content {
    flex:1;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 2rem;
    border:2px solid;
}


.content-title p::after {
    content: "";
    width:100%;
    background:white;
    height:4px;
    display:inline-block;
    align-items:center;
    border-radius:12px;
    opacity:1;
}
.content h2,.content h3, .content h4,.content h5,.content p, .content span {
    margin: 0;
    line-height:1.4;
}
.content ul li div {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.tokens {
    text-align:right;
    margin:20px;
}

.tokens h2,.tokens h3, .tokens h4,.tokens h5,.tokens p {
    margin: 10px 0;
}
.tokens-title {
    display:flex;
    flex-direction:column;
}

.tokens-title span {
    font-size:12px;
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
}